@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css?family=Rubik One");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

html{
  scroll-behavior: smooth;
}

a{
  text-decoration: none;
  color: white;
}

.nav {
  background-color: #000000;
}

body {
  background: #0082ff;
}

.text-wrapper {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
  word-wrap: break-word;
  cursor: pointer;
}

.vertical-line {
  height: 42px;
  border-left: 1px solid white;
  margin: 0 -11px;
}

.text-wrapper-1 {
  color: #ffffff;
  font-size: 16px;
  font-family: "Rubik One", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  font-weight: bold;
}

.text-wrapper-2 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #ffffff;
  font-size: 10.5px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.business-education {
  width: 49px;
  height: 49px;
}

.search {
  height: 35px;
  min-width: 270px;
  background: #e2e2e2;
  box-shadow: 0px 5px 18px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: #e2e2e2 1px solid;
}

.button-login {
  background: linear-gradient(90deg, #00b8ff 0%, #2f86ee 56%, #0082ff 100%);
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  height: 50px;
  border: 1px #004fff solid;
}

.pendekar {
  width: 85%;
  height: 730px;
  background: url("../../assets/img/Rectangle.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0px 0px 800px 0px;
}

.horizontalLine {
  border: 2px white solid;
  height: 0px;
}

.pendekar1 {
  color: white;
  font-size: 64px;
  font-family: Poppins;
  font-weight: 400;
}

.pendekar2 {
  color: white;
  font-size: 96px;
  font-family: Rubik One;
  font-weight: 400;
}

.pendekar3 {
  color: white;
  font-size: 48px;
  font-family: Poppins;
  font-weight: 400;
}

.pendekar4 {
  color: white;
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.containerWinner {
  background: linear-gradient(90deg, #0082ff 0%, #2f86ee 56%, #00b8ff 96%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  border: 1px #0082ff solid;
}

.winner1 {
  color: #20448d;
  font-size: 22px;
  font-family: Lexend;
  font-weight: 600;
  word-wrap: break-word;
}

.winner2 {
  color: white;
  font-size: 22px;
  font-family: Lexend;
  font-weight: 600;
  word-wrap: break-word;
}

.judul1 {
  color: #20448d;
  font-size: 64px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.rectangle1 {
  width: 400px;
  height: 190px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  align-items: start;
}

.text1 {
  color: black;
  font-weight: 600;
  font-size: 24px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.text2 {
  color: black;
  font-size: 14px;
  font-family: Poppins;
  font-weight: 500;
}

.judul2 {
  color: black;
  font-size: 50px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.subjudul2_1 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  font-family: Tahoma;
  font-weight: 400;
  word-wrap: break-word;
}

.judul3 {
  color: white;
  font-size: 50px;
  font-family: Inter;
  font-weight: 600;
  word-wrap: break-word;
}

.kataMereka {
  width: 400px;
  height: 370px;
  background: white;
  box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}

.text3 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.pp {
  border-radius: 50%;
}

.horizontalLine1 {
  border: 2px #0082ff solid;
  height: 0px;
}

.text4 {
  color: black;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.text5 {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}

.business-education-footer {
  width: 140px;
  height: 140px;
}

.vertical-line2 {
  height: 130px;
  border-left: 1px solid white;
  margin: 0 -11px;
}

.text-wrapper-3 {
  color: white;
  font-size: 32px;
  font-family: Rubik One;
  font-weight: 400;
  word-wrap: break-word;
}

.text-wrapper-4 {
  color: white;
  font-size: 16px;
  font-family: Quicksand;
  font-weight: 500;
  word-wrap: break-word;
}

.text6 {
  color: white;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 800;
  word-wrap: break-word;
}

.text7 {
  color: white;
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  word-wrap: break-word;
}