*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    min-height: 100vh;
}

.sidebar{
    background-color: white;;
    width: 230px;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
}

.main-content{
    background-color: #F4F7FE;;
    flex-grow: 1;
}

.sidebar .header .illustration img {
    border-radius: 30%; /* Membuat foto menjadi bundar */
    max-width: 80%; /* Pastikan gambar tidak melebihi lebar elemen parent */
    height: auto; /* Biarkan tinggi gambar disesuaikan secara proporsional */
    display: block; /* Hilangkan jarak tambahan di sekitar gambar */
  }
  
  .sidebar .header .illustration {
    display: flex;
    justify-content: center; /* Pusatkan secara vertikal */
    align-items: center;
    width: 100px; /* Sesuaikan lebar elemen sesuai kebutuhan */
    height: 100px; /* Sesuaikan tinggi elemen sesuai kebutuhan */
    overflow: hidden; /* Pastikan gambar bundar tidak keluar dari elemen */
    margin: 0 auto; /* Memusatkan secara horizontal */
    box-sizing: border-box;
  }

  .sidebar .main .list-item .description-header {
    color: #8FA6C0;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
    display: inline-block;
    vertical-align: middle;
    transition: color ease-in .2s; /* Menambahkan transition untuk perubahan warna font */
  }
  
  .sidebar .main .list-item .icon {
    margin: 13.36px 19px 10.36px 15px;
    color: black;
    display: inline-block;
    vertical-align: middle;
    transition: color ease-in .2s; /* Menambahkan transition untuk perubahan warna ikon */
  }
  
  .sidebar .main .list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 238px;
    box-sizing: border-box;
    transition: all ease-in .2s;
  }
  
  .sidebar .main .list-item:hover {
    background: #4da4f7;
    font-weight: bold;
    transition: all ease-in .2s;
  }
  
  .sidebar .main .list-item:hover .description-header {
    color: white;
  }
  
  .sidebar .main .list-item:hover .icon {
    color: white; /* Mengubah warna ikon menjadi putih saat di hover */
  }
  